# Python
__pycache__/
*.py[cod]
*.pyc
*.pyd
*.pyo
*.egg-info/
*.so
.Python

# Environment
.env
.venv/
venv/
env/

# Logs and databases
*.log
*.sqlite
credenciales.txt

# Playwright
playwright-report/
test-results/
node_modules/

# IDE
.vscode/
.idea/

# System
Thumbs.db
.DS_Store